.delete-button {
  color: red;
  cursor: pointer;
  height: auto;
  width: auto;
  border-radius: 15%;
  border-color: black;
  border: 0px;
  background-color: transparent;
}

.edit-button {
  color: blue;
  cursor: pointer;
  height: auto;
  width: auto;
  border-radius: 15%;
  border-color: black;
  border: 0px;
  background-color: transparent;
}

.progresss {
  cursor: pointer;
}

.note-image-wrapper {
  text-align: center;
}

.note-image {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.image-placeholder {
  height: 180px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #999;
}
